apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: bjb-app-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: frontend
  minReplicas: 1
  maxReplicas: 10 # Batas atas scaling
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50 # Jika CPU load > 50%, tambah Pod baru
  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: 70